#h1{
    font-family: 'Caesar Dressing', serif;
}
body{
    background-color: #0DFF88;
}
#nombre{
    font-family:'Petit Formal Script', serif;
}
#width,#height{
    font-family: 'Bungee Inline', serif;
}
#box{
    margin-top: 2em;
    width: 25.5em;
    border: 0.7em solid #0C9FE8;
    border-radius: 0.6em;
    padding: 0.6em;
    background-color: #0CE8BA;
}
h2{
    margin-top: 0;
}


